.verticalAlign{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.AbsBottom {
  position: absolute;
  bottom: 20px;
}

.resetLR {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.content-p-top {
  padding-top: 60px;
}

.font-light {
  font-weight: lighter;
}
