body {
  background-color: floralwhite!important;
}

.btn-width {
  width: 150px!important;
}

.btn-height {
  height: 150px!important;
}

.borderTest {
  border: solid black 1px!important;
}

.bgColorRed {
  background-color: red!important;
}

.textAlign {
  text-align: center!important;
}

.btn-radius {
  border-radius: 50%!important;
}

.btn-padding {
  padding:8px 20px 8px 20px!important;
}

.font-light {
  font-weight: lighter!important;
}

.btn-bottom {
  position: absolute!important;
  bottom: 50px!important;
  margin-left: auto!important;
  margin-right: auto!important;
  left: 0!important;
  right: 0!important;
}

.btn-bg-color{
  background-color: cornflowerblue!important;
}

.button-no-border {
  border: none!important;
}

.btn-color{
  color: white!important;
}

.cursor-pointer {
  cursor: pointer!important;
}

.font-weight {
  font-size: xx-large!important;
  font-weight: bold!important;
}

.p-top-20 {
  padding-top: 20px!important;
}

.p-top-60 {
  padding-top: 60px!important;
}

.title-size {
  font-size: 80px!important;
}

.subtitle-size {
  font-size: 35px!important;
}
